<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Manager_Projects</title>
  </head>
  <body>
    <div>
      <h1>Projects Manage</h1>
    </div>
    <div>
      <!-- Projects List Here -->
      <ul>
        <li>Test_01</li>
        <li>Test_02</li>
        <li>Test_03</li>
        <li>Test_04</li>
      </ul>
    </div>
    <div>
      <!-- Button Here -->
      <button>Creat New Project</button>
      <button>Enter This Project</button>
      <button>Modfiy This Project</button>
      <button>Delete This Project</button>
    </div>
  </body>
</html>
