<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Manager_ModsArchives</title>
  </head>
  <body>
    <div>
      <h1>ModsArchives Manage</h1>
    </div>
    <div>
      <!-- Button Here -->
      <button>Screen</button>
      <button>Sort</button>
    </div>
    <div>
      <!-- ModsArchives List Here -->
      <h2>Mods List</h2>
      <ul>
        <li>
          Mod_01_&lt;Group_01&gt;_&lt;Group_02&gt;_&lt;Downloaded_True&gt;_&lt;Disabled_False&gt;
        </li>
        <li>
          Mod_02_&lt;Group_01&gt;_&lt;Group_Disabled&gt;_&lt;Downloaded_False&gt;_&lt;Disabled_True&gt;
        </li>
        <li>
          Mod_03_&lt;Group_01&gt;_&lt;Group_02&gt;_&lt;Downloaded_True&gt;_&lt;Disabled_False&gt;
        </li>
        <li>
          Mod_04_&lt;Group_01&gt;_&lt;Group_Disabled&gt;_&lt;Downloaded_False&gt;_&lt;Disabled_True&gt;
        </li>
      </ul>
    </div>
    <div>
      <!-- Button Here -->
      <button>Add New Mod</button>
      <button>Modfiy This Mod</button>
      <button>Delete This Mod</button>
    </div>
  </body>
</html>
